--color-surface-neutral-background: var(--color-base-white);
--color-surface-neutral-primary: var(--color-base-white);
--color-surface-neutral-secondarycontrast: var(--color-gray-gray-200-light);
--color-surface-neutral-secondary: var(--color-gray-gray-100-light);
--color-surface-neutral-tertiary: var(--color-gray-gray-50-light);
--color-surface-neutral-disable: var(--color-gray-gray-50-light);
--color-surface-brand-50: var(--color-tiffany-tiffany-50-light);
--color-surface-brand-100: var(--color-tiffany-tiffany-100-light);
--color-surface-brand-200: var(--color-tiffany-tiffany-200-light);
--color-surface-brand-300-disable: var(--color-tiffany-tiffany-300-light);
--color-surface-brand-400: var(--color-tiffany-tiffany-400-light);
--color-surface-brand-500: var(--color-tiffany-tiffany-500-light);
--color-surface-brand-600-primary: var(--color-tiffany-tiffany-600-light);
--color-surface-neutral-inverse: var(--coloropacity-gray-gray-1000-light-85per);
--color-surface-neutral-popupbackground: var(--coloropacity-base-black-15per);
--color-surface-message-info-100-soft: var(--color-blue-blue-100-light);
--color-surface-brand-700-contrast: var(--color-tiffany-tiffany-700-light);
--color-surface-message-info-300-disable: var(--color-blue-blue-300-light);
--color-surface-brand-800-highcontrast: var(--color-tiffany-tiffany-800-light);
--color-surface-message-info-600-primary: var(--color-blue-blue-600-light);
--color-surface-message-info-700-contrast: var(--color-blue-blue-700-light);
--color-surface-message-info-800-highcontrast: var(--color-blue-blue-800-light);
--color-surface-message-error-100-soft: var(--color-red-red-100-light);
--color-surface-message-error-300-disable: var(--color-red-red-300-light);
--color-surface-message-error-600-primary: var(--color-red-red-600-light);
--color-surface-message-success-100-soft: var(--color-green-green-100-light);
--color-surface-message-error-700-contrast: var(--color-red-red-700-light);
--color-surface-message-error-800-highcontrast: var(--color-red-red-800-light);
--color-surface-message-success-300-disable: var(--color-green-green-300-light);
--color-surface-message-success-600-primary: var(--color-green-green-600-light);
--color-surface-message-success-700-contrast: var(
  --color-green-green-700-light
);
--color-surface-message-success-800-highcontrast: var(
  --color-green-green-800-light
);
--color-surface-message-warning-100-soft: var(--color-yellow-yellow-100-light);
--color-surface-message-warning-300-disable: var(
  --color-yellow-yellow-300-light
);
--color-surface-message-warning-600-primary: var(
  --color-yellow-yellow-600-light
);
--color-surface-message-warning-700-contrast: var(
  --color-yellow-yellow-700-light
);
--color-surface-message-warning-800-highcontrast: var(
  --color-yellow-yellow-800-light
);
--color-text-neutral-primary: var(--color-gray-gray-1000-light);
--color-text-neutral-secondarycontrast: var(--color-gray-gray-700-light);
--color-text-neutral-secondary: var(--color-gray-gray-600-light);
--color-text-neutral-tertiary: var(--color-gray-gray-500-light);
--color-text-neutral-disable: var(--color-gray-gray-400-light);
--color-text-brand-disable-300: var(--color-tiffany-tiffany-300-light);
--color-text-brand-primary-600: var(--color-tiffany-tiffany-600-light);
--color-text-brand-contrast-700: var(--color-tiffany-tiffany-700-light);
--color-text-brand-highcontrast-800: var(--color-tiffany-tiffany-800-light);
--color-text-neutral-white: var(--color-base-white);
--color-text-neutral-oninverse: var(--color-base-white);
--color-text-message-info-primary-600: var(--color-blue-blue-600-light);
--color-text-message-info-contrast-700: var(--color-blue-blue-700-light);
--color-text-message-info-oninverse: var(--color-blue-blue-400-light);
--color-text-neutral-oncoloreddisable: var(--color-base-white);
--color-text-message-error-primary-600: var(--color-red-red-600-light);
--color-text-message-error-contrast-700: var(--color-red-red-700-light);
--color-text-message-error-highcontrast-800: var(--color-red-red-800-light);
--color-text-message-error-disable-300: var(--color-red-red-300-light);
--color-text-message-error-oninverse: var(--color-red-red-400-light);
--color-text-message-success-primary-600: var(--color-green-green-600-light);
--color-text-message-success-contrast-700: var(--color-green-green-700-light);
--color-text-message-success-highcontrast-800: var(
  --color-green-green-800-light
);
--color-text-message-success-disable-300: var(--color-green-green-300-light);
--color-text-message-success-oninverse: var(--color-green-green-400-light);
--color-icon-neutral-primary: var(--color-gray-gray-1000-light);
--color-icon-neutral-secondarycontrast: var(--color-gray-gray-700-light);
--color-icon-neutral-secondary: var(--color-gray-gray-600-light);
--color-icon-neutral-disable: var(--color-gray-gray-400-light);
--color-icon-brand-disable-300: var(--color-tiffany-tiffany-300-light);
--color-icon-brand-primary-600: var(--color-tiffany-tiffany-600-light);
--color-icon-brand-contrast-700: var(--color-tiffany-tiffany-700-light);
--color-icon-brand-highcontrast-800: var(--color-tiffany-tiffany-800-light);
--color-icon-message-info-primary-600: var(--color-blue-blue-600-light);
--color-icon-message-info-contrast-700: var(--color-blue-blue-700-light);
--color-icon-message-info-oninverse: var(--color-blue-blue-400-light);
--color-icon-message-error-primary-600: var(--color-red-red-600-light);
--color-icon-message-error-contrast-700: var(--color-red-red-700-light);
--color-icon-message-error-highcontrast-800: var(--color-red-red-800-light);
--color-icon-message-error-disable-300: var(--color-red-red-300-light);
--color-icon-message-error-oninverse: var(--color-red-red-400-light);
--color-icon-message-success-primary-600: var(--color-green-green-600-light);
--color-icon-message-success-contrast-700: var(--color-green-green-700-light);
--color-icon-message-success-highcontrast-800: var(
  --color-green-green-800-light
);
--color-icon-message-success-disable-300: var(--color-green-green-300-light);
--color-icon-message-success-oninverse: var(--color-green-green-400-light);
--color-icon-message-warning-primary-600: var(--color-yellow-yellow-600-light);
--color-icon-message-warning-contrast-700: var(--color-yellow-yellow-700-light);
--color-icon-message-warning-oninverse: var(--color-yellow-yellow-400-light);
--color-icon-neutral-white: var(--color-base-white);
--color-icon-neutral-oninverse: var(--color-base-white);
--color-icon-neutral-oncoloreddisable: var(--color-base-white);
--color-border-neutral-primary: var(--color-gray-gray-300-light);
--color-border-brand-soft-200: var(--color-tiffany-tiffany-200-light);
--color-border-brand-disable-300: var(--color-tiffany-tiffany-300-light);
--color-border-message-info-disable-300: var(--color-blue-blue-300-light);
--color-border-message-info-soft-400: var(--color-blue-blue-400-light);
--color-border-message-info-primary-600: var(--color-blue-blue-600-light);
--color-border-message-error-disable-300: var(--color-red-red-300-light);
--color-border-message-error-soft-400: var(--color-red-red-400-light);
--color-border-message-error-primary-600: var(--color-red-red-600-light);
--color-border-message-error-contrast-700: var(--color-red-red-700-light);
--color-border-message-error-highcontrast-800: var(--color-red-red-800-light);
--color-border-message-success-disable-300: var(--color-green-green-300-light);
--color-border-message-success-soft-400: var(--color-green-green-400-light);
--color-border-message-success-primary-600: var(--color-green-green-600-light);
--color-border-message-success-contrast-700: var(--color-green-green-700-light);
--color-border-message-success-highcontrast-800: var(
  --color-green-green-800-light
);
--color-border-message-warning-disable-300: var(
  --color-yellow-yellow-300-light
);
--color-border-message-warning-soft-400: var(--color-yellow-yellow-400-light);
--color-border-message-warning-primary-600: var(
  --color-yellow-yellow-600-light
);
--color-border-brand-primary-600: var(--color-tiffany-tiffany-600-light);
--color-border-brand-contrast-700: var(--color-tiffany-tiffany-700-light);
--color-border-brand-highcontrast-800: var(--color-tiffany-tiffany-800-light);
--color-border-neutral-secondary: var(--color-gray-gray-200-light);
--color-border-neutral-tertiary: var(--color-gray-gray-100-light);
--color-border-neutral-contrast: var(--color-gray-gray-400-light);
--color-border-neutral-highcontrast: var(--color-gray-gray-500-light);
--color-border-neutral-maximumcontrast: var(--color-gray-gray-1000-light);
--color-border-neutral-disable: var(--color-gray-gray-200-light);
--color-border-neutral-white: var(--color-base-white);
--color-border-neutral-oninverse: var(--color-base-white);
--color-border-accent-blue-50: var(--color-blue-blue-50-light);
--color-border-accent-blue-100: var(--color-blue-blue-100-light);
--color-border-accent-blue-200: var(--color-blue-blue-200-light);
--color-border-accent-blue-300: var(--color-blue-blue-300-light);
--color-border-accent-blue-400: var(--color-blue-blue-400-light);
--color-border-accent-blue-500: var(--color-blue-blue-500-light);
--color-border-accent-blue-600: var(--color-blue-blue-600-light);
--color-border-accent-blue-700: var(--color-blue-blue-700-light);
--color-border-accent-blue-800: var(--color-blue-blue-800-light);
--color-border-accent-blue-900: var(--color-blue-blue-900-light);
--color-border-accent-blue-1000: var(--color-blue-blue-1000-light);
--color-border-accent-red-50: var(--color-red-red-50-light);
--color-border-accent-red-100: var(--color-red-red-100-light);
--color-border-accent-red-200: var(--color-red-red-200-light);
--color-border-accent-red-300: var(--color-red-red-300-light);
--color-border-accent-red-400: var(--color-red-red-400-light);
--color-border-accent-red-500: var(--color-red-red-500-light);
--color-border-accent-red-600: var(--color-red-red-600-light);
--color-border-accent-red-700: var(--color-red-red-700-light);
--color-border-accent-red-800: var(--color-red-red-800-light);
--color-border-accent-red-900: var(--color-red-red-900-light);
--color-border-accent-red-1000: var(--color-red-red-1000-light);
--color-border-accent-green-50: var(--color-green-green-50-light);
--color-border-accent-green-100: var(--color-green-green-100-light);
--color-border-accent-green-200: var(--color-green-green-200-light);
--color-border-accent-green-300: var(--color-green-green-300-light);
--color-border-accent-green-400: var(--color-green-green-400-light);
--color-border-accent-green-500: var(--color-green-green-500-light);
--color-border-accent-green-600: var(--color-green-green-600-light);
--color-border-accent-green-700: var(--color-green-green-700-light);
--color-border-accent-green-800: var(--color-green-green-800-light);
--color-border-accent-green-900: var(--color-green-green-900-light);
--color-border-accent-green-1000: var(--color-green-green-1000-light);
--color-border-accent-vividgreen-50: var(
  --color-vividgreen-vividgreen-50-light
);
--color-border-accent-vividgreen-100: var(
  --color-vividgreen-vividgreen-100-light
);
--color-border-accent-vividgreen-200: var(
  --color-vividgreen-vividgreen-200-light
);
--color-border-accent-vividgreen-300: var(
  --color-vividgreen-vividgreen-300-light
);
--color-border-accent-vividgreen-400: var(
  --color-vividgreen-vividgreen-400-light
);
--color-border-accent-vividgreen-500: var(
  --color-vividgreen-vividgreen-500-light
);
--color-border-accent-vividgreen-600: var(
  --color-vividgreen-vividgreen-600-light
);
--color-border-accent-vividgreen-700: var(
  --color-vividgreen-vividgreen-700-light
);
--color-border-accent-vividgreen-800: var(
  --color-vividgreen-vividgreen-800-light
);
--color-border-accent-vividgreen-900: var(
  --color-vividgreen-vividgreen-900-light
);
--color-border-accent-vividgreen-1000: var(
  --color-vividgreen-vividgreen-1000-light
);
--color-border-accent-yellow-50: var(--color-yellow-yellow-50-light);
--color-border-accent-yellow-100: var(--color-yellow-yellow-100-light);
--color-border-accent-yellow-200: var(--color-yellow-yellow-200-light);
--color-border-accent-yellow-300: var(--color-yellow-yellow-300-light);
--color-border-accent-yellow-400: var(--color-yellow-yellow-400-light);
--color-border-accent-yellow-500: var(--color-yellow-yellow-500-light);
--color-border-accent-yellow-600: var(--color-yellow-yellow-600-light);
--color-border-accent-yellow-700: var(--color-yellow-yellow-700-light);
--color-border-accent-yellow-800: var(--color-yellow-yellow-800-light);
--color-border-accent-yellow-900: var(--color-yellow-yellow-900-light);
--color-border-accent-yellow-1000: var(--color-yellow-yellow-1000-light);
--color-icon-brand-aress-logo: var(--color-tiffany-tiffany-600-light);
--coloropacity-surface-neutral-background-0per: var(
  --coloropacity-base-white-0per
);
--coloropacity-border-accent-blue-600-20per: var(
  --coloropacity-blue-blue-600-light-20per
);
--coloropacity-border-accent-red-600-20per: var(
  --coloropacity-red-red-600-light-20per
);
--coloropacity-border-accent-yellow-600-20per: var(
  --coloropacity-yellow-yellow-600-light-20per
);
--coloropacity-border-accent-green-600-20per: var(
  --coloropacity-green-green-600-light-20per
);
--coloropacity-border-accent-purple-600-20per: var(
  --coloropacity-purple-purple-600-light-20per
);
--coloropacity-surface-neutral-primary-0per: var(
  --coloropacity-base-white-0per
);
--coloropacity-surface-neutral-white-55per: var(
  --coloropacity-base-white-55per
);
--coloropacity-surface-neutral-white-80per: var(
  --coloropacity-base-white-80per
);
--coloropacity-surface-neutral-white-85per: var(
  --coloropacity-base-white-85per
);
--coloropacity-surface-neutral-black-0per: var(--coloropacity-base-black-0per);
--coloropacity-surface-accent-blue-600-0per: var(
  --coloropacity-blue-blue-600-light-0per
);
--coloropacity-surface-accent-blue-600-30per: var(
  --coloropacity-blue-blue-600-light-30per
);
--coloropacity-surface-accent-blue-600-50per: var(
  --coloropacity-blue-blue-600-light-50per
);
--coloropacity-surface-accent-blue-600-70per: var(
  --coloropacity-blue-blue-600-light-70per
);
--coloropacity-surface-accent-red-600-20per: var(
  --coloropacity-red-red-600-light-20per
);
--coloropacity-surface-accent-red-600-70per: var(
  --coloropacity-red-red-600-light-70per
);
--coloropacity-surface-accent-green-600-70per: var(
  --coloropacity-green-green-600-light-70per
);
--coloropacity-surface-accent-purple-600-50per: var(
  --coloropacity-purple-purple-600-light-50per
);
--coloropacity-surface-accent-gray-300-50per: var(
  --coloropacity-gray-gray-300-light-50per
);
--coloropacity-surface-accent-gray-400-55per: var(
  --coloropacity-gray-gray-400-light-55per
);
--coloropacity-surface-accent-gray-600-70per: var(
  --coloropacity-gray-gray-600-light-70per
);
--coloropacity-shadow-4per: var(--coloropacity-shadow-4per-light);
--coloropacity-shadow-4_5per: var(--coloropacity-shadow-4_5per-light);
--coloropacity-shadow-6per: var(--coloropacity-shadow-6per-light);
--coloropacity-shadow-8per: var(--coloropacity-shadow-8per-light);
--coloropacity-shadow-9per: var(--coloropacity-shadow-9per-light);
--coloropacity-shadow-12per: var(--coloropacity-shadow-12per-light);
--coloropacity-shadow-16per: var(--coloropacity-shadow-16per-light);
--coloropacity-shadow-20per: var(--coloropacity-shadow-20per-light);
--coloropacity-shadow-24per: var(--coloropacity-shadow-24per-light);
--coloropacity-shadow-34per: var(--coloropacity-shadow-34per-light);
--color-text-message-warning-primary-600: var(--color-yellow-yellow-600-light);
--color-text-message-warning-contrast-700: var(--color-yellow-yellow-700-light);
--color-text-message-warning-oninverse: var(--color-yellow-yellow-400-light);
--color-surface-accent-blue-50: var(--color-blue-blue-50-light);
--color-surface-accent-blue-100: var(--color-blue-blue-100-light);
--color-surface-accent-blue-200: var(--color-blue-blue-200-light);
--color-surface-accent-blue-300: var(--color-blue-blue-300-light);
--color-surface-accent-blue-400: var(--color-blue-blue-400-light);
--color-surface-accent-blue-500: var(--color-blue-blue-500-light);
--color-surface-accent-red-50: var(--color-red-red-50-light);
--color-surface-accent-red-100: var(--color-red-red-100-light);
--color-surface-accent-blue-600: var(--color-blue-blue-600-light);
--color-surface-accent-red-200: var(--color-red-red-200-light);
--color-surface-accent-red-300: var(--color-red-red-300-light);
--color-surface-accent-blue-700: var(--color-blue-blue-700-light);
--color-surface-accent-blue-800: var(--color-blue-blue-800-light);
--color-surface-accent-blue-900: var(--color-blue-blue-900-light);
--color-surface-accent-blue-1000: var(--color-blue-blue-1000-light);
--color-surface-accent-red-400: var(--color-red-red-400-light);
--color-surface-accent-green-50: var(--color-green-green-50-light);
--color-surface-accent-red-500: var(--color-red-red-500-light);
--color-surface-accent-green-100: var(--color-green-green-100-light);
--color-surface-accent-green-200: var(--color-green-green-200-light);
--color-surface-accent-green-300: var(--color-green-green-300-light);
--color-surface-accent-red-600: var(--color-red-red-600-light);
--color-surface-accent-red-700: var(--color-red-red-700-light);
--color-surface-accent-red-800: var(--color-red-red-800-light);
--color-surface-accent-red-900: var(--color-red-red-900-light);
--color-surface-accent-red-1000: var(--color-red-red-1000-light);
--color-surface-accent-yellow-50: var(--color-yellow-yellow-50-light);
--color-surface-accent-green-400: var(--color-green-green-400-light);
--color-surface-accent-vividgreen-50: var(
  --color-vividgreen-vividgreen-50-light
);
--color-surface-accent-vividgreen-100: var(
  --color-vividgreen-vividgreen-100-light
);
--color-surface-accent-vividgreen-200: var(
  --color-vividgreen-vividgreen-200-light
);
--color-surface-accent-vividgreen-300: var(
  --color-vividgreen-vividgreen-300-light
);
--color-surface-accent-vividgreen-400: var(
  --color-vividgreen-vividgreen-400-light
);
--color-surface-accent-vividgreen-500: var(
  --color-vividgreen-vividgreen-500-light
);
--color-surface-accent-vividgreen-600: var(
  --color-vividgreen-vividgreen-600-light
);
--color-surface-accent-vividgreen-700: var(
  --color-vividgreen-vividgreen-700-light
);
--color-surface-accent-vividgreen-800: var(
  --color-vividgreen-vividgreen-800-light
);
--color-surface-accent-vividgreen-900: var(
  --color-vividgreen-vividgreen-900-light
);
--color-surface-accent-vividgreen-1000: var(
  --color-vividgreen-vividgreen-1000-light
);
--color-surface-accent-yellow-100: var(--color-yellow-yellow-100-light);
--color-surface-accent-green-500: var(--color-green-green-500-light);
--color-surface-accent-yellow-200: var(--color-yellow-yellow-200-light);
--color-surface-accent-green-600: var(--color-green-green-600-light);
--color-surface-accent-yellow-300: var(--color-yellow-yellow-300-light);
--color-surface-accent-green-700: var(--color-green-green-700-light);
--color-surface-accent-green-800: var(--color-green-green-800-light);
--color-surface-accent-green-900: var(--color-green-green-900-light);
--color-surface-accent-green-1000: var(--color-green-green-1000-light);
--color-surface-accent-yellow-400: var(--color-yellow-yellow-400-light);
--color-surface-accent-yellow-500: var(--color-yellow-yellow-500-light);
--color-surface-accent-yellow-600: var(--color-yellow-yellow-600-light);
--color-surface-accent-yellow-700: var(--color-yellow-yellow-700-light);
--color-surface-accent-yellow-800: var(--color-yellow-yellow-800-light);
--color-surface-accent-yellow-900: var(--color-yellow-yellow-900-light);
--color-surface-accent-yellow-1000: var(--color-yellow-yellow-1000-light);
--color-text-accent-blue-primary-600: var(--color-blue-blue-600-light);
--color-text-accent-blue-contrast-700: var(--color-blue-blue-700-light);
--color-text-accent-red-primary-600: var(--color-red-red-600-light);
--color-text-onbrand-neutral-primary-on600: var(--color-base-white);
--color-text-onbrand-neutral-primary-onbelow600: var(
  --color-gray-gray-1000-light
);
--color-text-onbrand-neutral-primary-onabove600: var(--color-base-white);
--color-text-onmessage-neutral-primary-on600: var(--color-base-white);
--color-text-onbrand-neutral-secondary-on100_50: var(
  --color-gray-gray-600-light
);
--color-text-onmessage-neutral-primary-onbelow600: var(
  --color-gray-gray-1000-light
);
--color-text-onbrand-colored-primary-on200_100_50: var(
  --color-tiffany-tiffany-800-light
);
--color-text-onbrand-colored-secondary-on100_50: var(
  --color-tiffany-tiffany-700-light
);
--color-text-onmessage-neutral-primary-onabove600: var(--color-base-white);
--color-text-onmessage-neutral-secondary-on100_50: var(
  --color-gray-gray-600-light
);
--color-text-onmessage-colored-oninfo-on200_100: var(
  --color-blue-blue-800-light
);
--color-text-onmessage-colored-onerror-on200_100: var(
  --color-red-red-800-light
);
--color-text-onaccent-neutral-primary-on600: var(--color-base-white);
--color-text-onmessage-colored-onsuccess-on200_100: var(
  --color-green-green-800-light
);
--color-text-onaccent-neutral-primary-onbelow600: var(
  --color-gray-gray-1000-light
);
--color-text-onmessage-colored-onwarning-on200_100: var(
  --color-yellow-yellow-800-light
);
--color-text-onaccent-neutral-primary-onabove600: var(--color-base-white);
--color-text-onaccent-neutral-secondary-on100_50: var(
  --color-gray-gray-600-light
);
--color-text-onaccent-colored-onblue-on200_100_50: var(
  --color-blue-blue-800-light
);
--color-text-onaccent-colored-onpurple-on200_100_50: var(
  --color-purple-purple-800-light
);
--color-text-onaccent-colored-onred-on200_100_50: var(
  --color-red-red-800-light
);
--color-text-onaccent-colored-ongreen-on200_100_50: var(
  --color-green-green-800-light
);
--color-text-onaccent-colored-onvividgreen-on200_100_50: var(
  --color-vividgreen-vividgreen-800-light
);
--color-text-onaccent-colored-onyellow-on200_100_50: var(
  --color-yellow-yellow-800-light
);
--color-text-accent-red-contrast-700: var(--color-red-red-700-light);
--color-text-accent-green-primary-600: var(--color-green-green-600-light);
--color-text-accent-green-contrast-700: var(--color-green-green-700-light);
--color-text-accent-yellow-primary-700: var(--color-yellow-yellow-700-light);
--color-text-accent-yellow-contrast-800: var(--color-yellow-yellow-800-light);
--color-text-accent-purple-primary-600: var(--color-purple-purple-600-light);
--color-text-accent-purple-contrast-700: var(--color-purple-purple-700-light);
--color-surface-accent-purple-50: var(--color-purple-purple-50-light);
--color-surface-accent-purple-100: var(--color-purple-purple-100-light);
--color-surface-accent-purple-200: var(--color-purple-purple-200-light);
--color-surface-accent-purple-300: var(--color-purple-purple-300-light);
--color-surface-accent-purple-400: var(--color-purple-purple-400-light);
--color-surface-accent-purple-500: var(--color-purple-purple-500-light);
--color-surface-accent-purple-600: var(--color-purple-purple-600-light);
--color-surface-accent-purple-700: var(--color-purple-purple-700-light);
--color-surface-accent-purple-800: var(--color-purple-purple-800-light);
--color-surface-accent-purple-900: var(--color-purple-purple-900-light);
--color-surface-accent-purple-1000: var(--color-purple-purple-1000-light);
--color-icon-accent-blue-primary-600: var(--color-blue-blue-600-light);
--color-icon-accent-blue-contrast-700: var(--color-blue-blue-700-light);
--color-icon-accent-red-primary-600: var(--color-red-red-600-light);
--color-icon-accent-green-primary-600: var(--color-green-green-600-light);
--color-icon-accent-green-contrast-700: var(--color-green-green-700-light);
--color-icon-accent-red-contrast-700: var(--color-red-red-700-light);
--color-icon-accent-vividgreen-primary-600: var(
  --color-vividgreen-vividgreen-600-light
);
--color-icon-accent-yellow-primary-600: var(--color-yellow-yellow-600-light);
--color-icon-accent-yellow-contrast-700: var(--color-yellow-yellow-700-light);
--color-icon-accent-pink-primary-600: var(--color-pink-pink-600-light);
--color-icon-accent-pink-contrast-700: var(--color-pink-pink-700-light);
--color-icon-accent-vividgreen-contrast-700: var(
  --color-vividgreen-vividgreen-700-light
);
--color-icon-onbrand-neutral-on600: var(--color-base-white);
--color-icon-onbrand-neutral-onbelow600: var(--color-gray-gray-1000-light);
--color-icon-onmessage-neutral-on600: var(--color-base-white);
--color-icon-onmessage-neutral-onbelow600: var(--color-gray-gray-1000-light);
--color-icon-onmessage-neutral-onabove600: var(--color-base-white);
--color-icon-onmessage-colored-oninfo-on200_100: var(
  --color-blue-blue-800-light
);
--color-icon-onmessage-colored-onerror-on200_100: var(
  --color-red-red-800-light
);
--color-icon-onmessage-colored-onsuccess-on200_100: var(
  --color-green-green-800-light
);
--color-icon-onaccent-neutral-on600: var(--color-base-white);
--color-icon-onmessage-colored-onwarning-on200_100: var(
  --color-yellow-yellow-800-light
);
--color-icon-onaccent-neutral-onbelow600: var(--color-gray-gray-1000-light);
--color-icon-onaccent-neutral-onabove600: var(--color-base-white);
--color-icon-onaccent-colored-onblue-on200_100_50: var(
  --color-blue-blue-800-light
);
--color-icon-onaccent-colored-onpurple-on200_100_50: var(
  --color-purple-purple-800-light
);
--color-icon-onaccent-colored-onred-on200_100_50: var(
  --color-red-red-800-light
);
--color-icon-onaccent-colored-ongreen-on200_100_50: var(
  --color-green-green-800-light
);
--color-icon-onaccent-colored-onvividgreen-on200_100_50: var(
  --color-vividgreen-vividgreen-800-light
);
--color-icon-onaccent-colored-onyellow-on200_100_50: var(
  --color-yellow-yellow-800-light
);
--color-icon-onbrand-neutral-onabove600: var(--color-base-white);
--color-icon-onbrand-colored-primary-on200_100_50: var(
  --color-tiffany-tiffany-800-light
);
--color-icon-onbrand-colored-secondary-on100_50: var(
  --color-tiffany-tiffany-700-light
);
--color-border-accent-purple-50: var(--color-purple-purple-50-light);
--color-border-accent-purple-100: var(--color-purple-purple-100-light);
--color-border-accent-purple-200: var(--color-purple-purple-200-light);
--color-border-accent-purple-300: var(--color-purple-purple-300-light);
--color-border-accent-purple-400: var(--color-purple-purple-400-light);
--color-border-accent-purple-500: var(--color-purple-purple-500-light);
--color-border-accent-purple-600: var(--color-purple-purple-600-light);
--color-border-accent-purple-700: var(--color-purple-purple-700-light);
--color-border-accent-purple-800: var(--color-purple-purple-800-light);
--color-border-accent-purple-900: var(--color-purple-purple-900-light);
--color-border-accent-purple-1000: var(--color-purple-purple-1000-light);
--color-border-accent-gray-50: var(--color-gray-gray-50-light);
--color-border-accent-gray-100: var(--color-gray-gray-100-light);
--color-border-accent-gray-200: var(--color-gray-gray-200-light);
--color-border-accent-gray-300: var(--color-gray-gray-300-light);
--color-border-accent-gray-400: var(--color-gray-gray-400-light);
--color-border-accent-gray-500: var(--color-gray-gray-500-light);
--color-border-accent-gray-600: var(--color-gray-gray-600-light);
--color-border-accent-gray-700: var(--color-gray-gray-700-light);
--color-border-accent-gray-800: var(--color-gray-gray-800-light);
--color-border-accent-gray-900: var(--color-gray-gray-900-light);
--color-border-accent-gray-1000: var(--color-gray-gray-1000-light);
--color-surface-accent-gray-50: var(--color-gray-gray-50-light);
--color-surface-accent-gray-100: var(--color-gray-gray-100-light);
--color-surface-accent-gray-200: var(--color-gray-gray-200-light);
--color-surface-accent-gray-300: var(--color-gray-gray-300-light);
--color-surface-accent-gray-400: var(--color-gray-gray-400-light);
--color-surface-accent-gray-500: var(--color-gray-gray-500-light);
--color-surface-accent-gray-600: var(--color-gray-gray-600-light);
--color-surface-accent-gray-700: var(--color-gray-gray-700-light);
--color-surface-accent-gray-800: var(--color-gray-gray-800-light);
--color-surface-accent-gray-900: var(--color-gray-gray-900-light);
--color-surface-accent-gray-1000: var(--color-gray-gray-1000-light);
--color-surface-accent-pink-50: var(--color-pink-pink-50-light);
--color-surface-accent-pink-100: var(--color-pink-pink-100-light);
--color-surface-accent-pink-200: var(--color-pink-pink-200-light);
--color-surface-accent-pink-300: var(--color-pink-pink-300-light);
--color-surface-accent-pink-400: var(--color-pink-pink-400-light);
--color-surface-accent-pink-500: var(--color-pink-pink-500-light);
--color-surface-accent-pink-600: var(--color-pink-pink-600-light);
--color-surface-accent-pink-700: var(--color-pink-pink-700-light);
--color-surface-accent-pink-800: var(--color-pink-pink-800-light);
--color-surface-accent-pink-900: var(--color-pink-pink-900-light);
--color-surface-accent-pink-1000: var(--color-pink-pink-1000-light);
