--color-tiffany-tiffany-50-light: #f7fcfc;
--color-tiffany-tiffany-100-light: #edf8f8;
--color-tiffany-tiffany-200-light: #cceaea;
--color-tiffany-tiffany-300-light: #99d5d5;
--color-tiffany-tiffany-400-light: #66c0bf;
--color-tiffany-tiffany-500-light: #33abaa;
--color-tiffany-tiffany-600-light: #009695;
--color-tiffany-tiffany-700-light: #008483;
--color-tiffany-tiffany-800-light: #007170;
--color-tiffany-tiffany-900-light: #004b4b;
--color-tiffany-tiffany-1000-light: #0f2a30;
--color-tiffany-tiffany-50-dark: #001e1e;
--color-tiffany-tiffany-100-dark: #002423;
--color-tiffany-tiffany-200-dark: #003232;
--color-tiffany-tiffany-300-dark: #004444;
--color-tiffany-tiffany-400-dark: #005857;
--color-tiffany-tiffany-500-dark: #006b6a;
--color-tiffany-tiffany-600-dark: #008584;
--color-tiffany-tiffany-700-dark: #00908f;
--color-tiffany-tiffany-800-dark: #21a4a3;
--color-gray-gray-50-light: #fafbfc;
--color-tiffany-tiffany-900-dark: #8acfce;
--color-tiffany-tiffany-1000-dark: #e3f3f3;
--color-gray-gray-100-light: #f4f5f7;
--color-blue-blue-50-light: #f5f9fe;
--color-blue-blue-100-light: #e5f1fd;
--color-blue-blue-200-light: #cce3fc;
--color-blue-blue-300-light: #99c7f9;
--color-blue-blue-400-light: #66aaf6;
--color-blue-blue-500-light: #338ef3;
--color-green-green-50-light: #f7fbf9;
--color-blue-blue-600-light: #0072f0;
--color-blue-blue-700-light: #0061cc;
--color-blue-blue-800-light: #0050a8;
--color-blue-blue-900-light: #003978;
--color-blue-blue-1000-light: #001730;
--color-blue-blue-50-dark: #001022;
--color-blue-blue-100-dark: #001730;
--color-blue-blue-200-dark: #002752;
--color-blue-blue-300-dark: #003a7b;
--color-blue-blue-400-dark: #004da3;
--color-blue-blue-500-dark: #0061cc;
--color-blue-blue-600-dark: #0676f0;
--color-blue-blue-700-dark: #328ef3;
--color-blue-blue-800-dark: #5fa7f6;
--color-blue-blue-900-dark: #9dc9f9;
--color-blue-blue-1000-dark: #f2f8fe;
--color-green-green-100-light: #e5f3ea;
--color-vividgreen-vividgreen-50-light: #f8fefa;
--color-vividgreen-vividgreen-100-light: #e7faef;
--color-vividgreen-vividgreen-200-light: #d0f6df;
--color-vividgreen-vividgreen-300-light: #a1ecbf;
--color-vividgreen-vividgreen-400-light: #72e3a0;
--color-vividgreen-vividgreen-500-light: #43d980;
--color-vividgreen-vividgreen-600-light: #14d060;
--color-vividgreen-vividgreen-700-light: #11b152;
--color-vividgreen-vividgreen-800-light: #0e9243;
--color-vividgreen-vividgreen-900-light: #0a6830;
--color-vividgreen-vividgreen-1000-light: #042a13;
--color-vividgreen-vividgreen-50-dark: #042511;
--color-vividgreen-vividgreen-100-dark: #063c1c;
--color-vividgreen-vividgreen-200-dark: #085125;
--color-vividgreen-vividgreen-300-dark: #0b7737;
--color-vividgreen-vividgreen-400-dark: #0f9947;
--color-vividgreen-vividgreen-500-dark: #11ae50;
--color-vividgreen-vividgreen-600-dark: #2fd572;
--color-vividgreen-vividgreen-700-dark: #4adb84;
--color-red-red-50-light: #fef8f8;
--color-vividgreen-vividgreen-800-dark: #6fe29d;
--color-vividgreen-vividgreen-900-dark: #a3edc1;
--color-red-red-100-light: #fde8e8;
--color-vividgreen-vividgreen-1000-dark: #d5f7e3;
--color-yellow-yellow-50-light: #fffdf7;
--color-yellow-yellow-100-light: #fff7e5;
--color-yellow-yellow-200-light: #fff0cc;
--color-yellow-yellow-300-light: #ffe199;
--color-yellow-yellow-400-light: #ffd166;
--color-yellow-yellow-500-light: #ffc233;
--color-yellow-yellow-600-light: #ffb300;
--color-yellow-yellow-700-light: #d99800;
--color-yellow-yellow-800-light: #b27d00;
--color-yellow-yellow-900-light: #805a00;
--color-yellow-yellow-1000-light: #332400;
--color-yellow-yellow-50-dark: #261b00;
--color-yellow-yellow-100-dark: #422f00;
--color-yellow-yellow-200-dark: #5c4000;
--color-yellow-yellow-300-dark: #8a6100;
--color-yellow-yellow-400-dark: #b68000;
--color-yellow-yellow-500-dark: #d29400;
--color-yellow-yellow-600-dark: #ffbd22;
--color-yellow-yellow-700-dark: #ffc53d;
--color-yellow-yellow-800-dark: #ffd165;
--color-yellow-yellow-900-dark: #ffe29e;
--color-yellow-yellow-1000-dark: #fffbf0;
--color-red-red-200-light: #fad1d1;
--color-red-red-300-light: #f6a4a4;
--color-red-red-400-light: #f17676;
--color-red-red-500-light: #ef5f5f;
--color-red-red-600-light: #dd1919;
--color-red-red-700-light: #c51717;
--color-red-red-800-light: #a21313;
--color-red-red-900-light: #740e0e;
--color-red-red-1000-light: #2e0505;
--color-red-red-50-dark: #280505;
--color-red-red-100-dark: #341414;
--color-red-red-200-dark: #5b0a0a;
--color-red-red-300-dark: #870f0f;
--color-red-red-400-dark: #b11414;
--color-red-red-500-dark: #c51616;
--color-red-red-600-dark: #e44848;
--color-red-red-700-dark: #e86464;
--color-red-red-800-dark: #ee8989;
--color-red-red-900-dark: #f5b8b8;
--color-red-red-1000-dark: #fef6f6;
--color-green-green-200-light: #cce7d5;
--color-green-green-300-light: #99d0ac;
--color-green-green-400-light: #66b882;
--color-green-green-500-light: #33a159;
--color-green-green-600-light: #00822d;
--color-green-green-700-light: #007428;
--color-green-green-800-light: #006021;
--color-green-green-900-light: #004518;
--color-green-green-1000-light: #001b09;
--color-green-green-50-dark: #001307;
--color-green-green-100-dark: #00220c;
--color-green-green-200-dark: #002f10;
--color-green-green-300-dark: #004618;
--color-green-green-400-dark: #005d20;
--color-green-green-500-dark: #006b25;
--color-green-green-600-dark: #229349;
--color-green-green-700-dark: #3da05f;
--color-green-green-800-dark: #65b380;
--color-green-green-900-dark: #9ed0af;
--color-green-green-1000-dark: #f0f8f3;
--color-gray-gray-200-light: #e7e9ee;
--color-gray-gray-300-light: #d8dbe1;
--color-gray-gray-400-light: #cacdd2;
--color-gray-gray-500-light: #8c9096;
--color-gray-gray-600-light: #72777e;
--color-gray-gray-700-light: #545961;
--color-gray-gray-800-light: #383c41;
--color-gray-gray-900-light: #191b1e;
--color-gray-gray-1000-light: #05070c;
--color-gray-gray-50-dark: #191a1c;
--color-gray-gray-100-dark: #232425;
--color-gray-gray-200-dark: #2b2c2e;
--color-gray-gray-300-dark: #323335;
--color-gray-gray-400-dark: #3c3d3f;
--color-gray-gray-500-dark: #6a6a6b;
--color-gray-gray-600-dark: #868687;
--color-gray-gray-700-dark: #ababac;
--color-gray-gray-800-dark: #d0d0d1;
--color-gray-gray-900-dark: #eff1f5;
--color-gray-gray-1000-dark: #f6f8fe;
--color-pink-pink-50-light: #fffafc;
--color-pink-pink-100-light: #ffeef7;
--color-pink-pink-200-light: #ffdeee;
--color-pink-pink-300-light: #ffbcdd;
--color-pink-pink-400-light: #ff9bcd;
--color-pink-pink-500-light: #ff79bc;
--color-pink-pink-600-light: #ff58ab;
--color-pink-pink-700-light: #d94b91;
--color-pink-pink-800-light: #b23e78;
--color-pink-pink-900-light: #802c56;
--color-pink-pink-1000-light: #331222;
--color-pink-pink-50-dark: #2e101f;
--color-pink-pink-100-dark: #4a1a32;
--color-pink-pink-200-dark: #632243;
--color-pink-pink-300-dark: #913261;
--color-pink-pink-400-dark: #bb417e;
--color-pink-pink-500-dark: #d5498f;
--color-pink-pink-600-dark: #ff6bb5;
--color-pink-pink-700-dark: #ff7ebe;
--color-pink-pink-800-dark: #ff98cb;
--color-pink-pink-900-dark: #ffbede;
--color-pink-pink-1000-dark: #ffe1f0;
--color-purple-purple-50-light: #fbf9fe;
--color-purple-purple-100-light: #f0ecfc;
--color-purple-purple-200-light: #e2daf9;
--color-purple-purple-300-light: #c5b5f4;
--color-purple-purple-400-light: #a88fee;
--color-purple-purple-500-light: #8b6ae9;
--color-purple-purple-600-light: #6e45e3;
--color-purple-purple-700-light: #5e3bc1;
--color-purple-purple-800-light: #4d309f;
--color-purple-purple-900-light: #372372;
--color-purple-purple-1000-light: #160e2d;
--color-purple-purple-50-dark: #130c27;
--color-purple-purple-100-dark: #201442;
--color-purple-purple-200-dark: #2e1d5f;
--color-purple-purple-300-dark: #462c8f;
--color-purple-purple-400-dark: #5e3bc2;
--color-purple-purple-500-dark: #7a54e5;
--color-purple-purple-600-dark: #9679eb;
--color-purple-purple-700-dark: #a990ee;
--color-purple-purple-800-dark: #bca9f2;
--color-purple-purple-900-dark: #d6cbf7;
--color-purple-purple-1000-dark: #f9f8fe;
--color-base-white: #ffffff;
--color-base-black: #000000;
--color-base-dark: #0a0d0d;
--coloropacity-gray-gray-50-light-0per: #fafbfc00;
--coloropacity-gray-gray-50-dark-0per: #191a1c00;
--coloropacity-gray-gray-300-light-50per: #d8dbe17f;
--coloropacity-gray-gray-300-dark-50per: #3233357f;
--coloropacity-gray-gray-400-light-55per: #cacdd38c;
--coloropacity-gray-gray-400-dark-55per: #3c3f3f8c;
--coloropacity-gray-gray-600-light-70per: #72777eb2;
--coloropacity-gray-gray-600-dark-70per: #838888b2;
--coloropacity-gray-gray-900-light-90per: #191b1ee5;
--coloropacity-gray-gray-1000-light-85per: #05070cd8;
--coloropacity-blue-blue-600-light-0per: #0072f000;
--coloropacity-blue-blue-600-dark-0per: #0676f000;
--coloropacity-blue-blue-600-light-20per: #0072f033;
--coloropacity-blue-blue-600-dark-20per: #0676f033;
--coloropacity-blue-blue-600-light-30per: #0072f04c;
--coloropacity-blue-blue-600-dark-30per: #0676f04c;
--coloropacity-blue-blue-600-light-50per: #0072f07f;
--coloropacity-blue-blue-600-dark-50per: #0676f07f;
--coloropacity-blue-blue-600-light-70per: #0072f0b2;
--coloropacity-blue-blue-600-dark-70per: #0676f0b2;
--coloropacity-blue-blue-1000-light-30per: #0017304c;
--coloropacity-blue-blue-1000-dark-30per: #f2f8fe4c;
--coloropacity-gray-gray-1000-dark-85per: #f6f8fed8;
--coloropacity-red-red-600-light-20per: #dd191933;
--coloropacity-red-red-600-dark-20per: #e4484833;
--coloropacity-red-red-600-light-70per: #dd1919b2;
--coloropacity-red-red-600-dark-70per: #e44848b2;
--coloropacity-green-green-600-light-20per: #00822d33;
--coloropacity-green-green-600-dark-20per: #22934933;
--coloropacity-green-green-600-light-70per: #00822db2;
--coloropacity-green-green-600-dark-70per: #229349b2;
--coloropacity-yellow-yellow-600-light-20per: #ffb30033;
--coloropacity-yellow-yellow-600-dark-20per: #ffbd2233;
--coloropacity-yellow-yellow-600-light-70per: #ffb300b2;
--coloropacity-yellow-yellow-600-dark-70per: #ffbd22b2;
--coloropacity-purple-purple-600-light-20per: #6e45e333;
--coloropacity-purple-purple-600-dark-20per: #9679eb33;
--coloropacity-purple-purple-600-light-50per: #6e45e37f;
--coloropacity-base-white-0per: #ffffff00;
--coloropacity-base-white-20per: #ffffff33;
--coloropacity-base-white-55per: #ffffff8c;
--coloropacity-base-white-80per: #ffffffcc;
--coloropacity-base-white-85per: #ffffffd8;
--coloropacity-base-black-0per: #00000000;
--coloropacity-base-black-15per: #00000026;
--coloropacity-base-black-20per: #00000033;
--coloropacity-base-black-30per: #0000004c;
--coloropacity-base-black-56per: #0000008e;
--coloropacity-base-black-75per: #000000bf;
--coloropacity-base-black-80per: #000000cc;
--coloropacity-base-dark-0per: #0a0d0d00;
--coloropacity-purple-purple-600-dark-50per: #9679eb7f;
--coloropacity-purple-purple-600-light-70per: #6e45e3b2;
--coloropacity-purple-purple-600-dark-70per: #9679ebb2;
--coloropacity-shadow-4per-light: #000b170a;
--coloropacity-shadow-4per-dark: #000b170a;
--coloropacity-shadow-4_5per-light: #000b170b;
--coloropacity-shadow-4_5per-dark: #000b170b;
--coloropacity-shadow-6per-light: #000b170f;
--coloropacity-shadow-6per-dark: #000b170f;
--coloropacity-shadow-8per-light: #000b1714;
--coloropacity-shadow-8per-dark: #000b1714;
--coloropacity-shadow-9per-light: #000b1716;
--coloropacity-shadow-9per-dark: #000b1716;
--coloropacity-shadow-12per-light: #000b171e;
--coloropacity-shadow-12per-dark: #000b171e;
--coloropacity-shadow-16per-light: #000b1728;
--coloropacity-shadow-16per-dark: #000b1728;
--coloropacity-shadow-20per-light: #000b1733;
--coloropacity-shadow-20per-dark: #000b1733;
--coloropacity-shadow-24per-light: #000b173d;
--coloropacity-shadow-24per-dark: #000b173d;
--coloropacity-shadow-34per-light: #000b1756;
--coloropacity-shadow-34per-dark: #000b1756;
