--color-tiffany-tiffany-50-light: #F4FBFB;
--color-tiffany-tiffany-100-light: #E3F8F8;
--color-tiffany-tiffany-200-light: #BCEBEB;
--color-tiffany-tiffany-300-light: #AFE4E4;
--color-tiffany-tiffany-400-light: #5BC2C2;
--color-tiffany-tiffany-500-light: #36A1A1;
--color-tiffany-tiffany-600-light: #0C9292;
--color-tiffany-tiffany-700-light: #0F7575;
--color-tiffany-tiffany-800-light: #055C5C;
--color-tiffany-tiffany-900-light: #044343;
--color-tiffany-tiffany-1000-light: #032626;
--color-tiffany-tiffany-50-dark: #001F1F;
--color-tiffany-tiffany-100-dark: #082B2A;
--color-tiffany-tiffany-200-dark: #003838;
--color-tiffany-tiffany-300-dark: #024545;
--color-tiffany-tiffany-400-dark: #006160;
--color-tiffany-tiffany-500-dark: #047675;
--color-tiffany-tiffany-600-dark: #008A89;
--color-tiffany-tiffany-700-dark: #00A3A2;
--color-tiffany-tiffany-800-dark: #23BEBC;
--color-gray-gray-50-light: #F9FAFB;
--color-tiffany-tiffany-900-dark: #7BDBD9;
--color-tiffany-tiffany-1000-dark: #D9FDFD;
--color-gray-gray-100-light: #F3F4F6;
--color-blue-blue-50-light: #F5F9FE;
--color-blue-blue-100-light: #EBF4FF;
--color-blue-blue-200-light: #CEE5FD;
--color-blue-blue-300-light: #B2D7FF;
--color-blue-blue-400-light: #75B8FF;
--color-blue-blue-500-light: #3E93EF;
--color-green-green-50-light: #F3FCF6;
--color-blue-blue-600-light: #1876DC;
--color-blue-blue-700-light: #0F67C7;
--color-blue-blue-800-light: #0450A4;
--color-blue-blue-900-light: #003A7A;
--color-blue-blue-1000-light: #002145;
--color-blue-blue-50-dark: #0A1624;
--color-blue-blue-100-dark: #082749;
--color-blue-blue-200-dark: #0A315C;
--color-blue-blue-300-dark: #063C79;
--color-blue-blue-400-dark: #1255A1;
--color-blue-blue-500-dark: #1069CB;
--color-blue-blue-600-dark: #1876DC;
--color-blue-blue-700-dark: #3394FF;
--color-blue-blue-800-dark: #66AFFF;
--color-blue-blue-900-dark: #A7CFFB;
--color-blue-blue-1000-dark: #EBF5FF;
--color-green-green-100-light: #E7F9ED;
--color-vividgreen-vividgreen-50-light: #ECFDF3;
--color-vividgreen-vividgreen-100-light: #D2FEE4;
--color-vividgreen-vividgreen-200-light: #ACF1C7;
--color-vividgreen-vividgreen-300-light: #88E7AE;
--color-vividgreen-vividgreen-400-light: #54D98A;
--color-vividgreen-vividgreen-500-light: #19D264;
--color-vividgreen-vividgreen-600-light: #00BD4C;
--color-vividgreen-vividgreen-700-light: #0A9E46;
--color-vividgreen-vividgreen-800-light: #058F3C;
--color-vividgreen-vividgreen-900-light: #04672C;
--color-vividgreen-vividgreen-1000-light: #002E12;
--color-vividgreen-vividgreen-50-dark: #021D0C;
--color-vividgreen-vividgreen-100-dark: #023115;
--color-vividgreen-vividgreen-200-dark: #00421A;
--color-vividgreen-vividgreen-300-dark: #005221;
--color-vividgreen-vividgreen-400-dark: #097133;
--color-vividgreen-vividgreen-500-dark: #008F39;
--color-vividgreen-vividgreen-600-dark: #05A345;
--color-vividgreen-vividgreen-700-dark: #1BC55F;
--color-red-red-50-light: #FEF8F8;
--color-vividgreen-vividgreen-800-dark: #09CE57;
--color-red-red-100-light: #FEF0F0;
--color-vividgreen-vividgreen-900-dark: #48EF8C;
--color-vividgreen-vividgreen-1000-dark: #CCFFE1;
--color-yellow-yellow-50-light: #FFF9EB;
--color-yellow-yellow-100-light: #FFF4DB;
--color-yellow-yellow-200-light: #FCE09C;
--color-yellow-yellow-300-light: #FAD680;
--color-yellow-yellow-400-light: #F9CE66;
--color-yellow-yellow-500-light: #FBC341;
--color-yellow-yellow-600-light: #F3AF12;
--color-yellow-yellow-700-light: #D89803;
--color-yellow-yellow-800-light: #B07E07;
--color-yellow-yellow-900-light: #805A00;
--color-yellow-yellow-1000-light: #332400;
--color-yellow-yellow-50-dark: #221902;
--color-yellow-yellow-100-dark: #362702;
--color-yellow-yellow-200-dark: #412D02;
--color-yellow-yellow-300-dark: #5C4100;
--color-yellow-yellow-400-dark: #815C03;
--color-yellow-yellow-500-dark: #9C7516;
--color-yellow-yellow-600-dark: #BD8400;
--color-yellow-yellow-700-dark: #E5A100;
--color-yellow-yellow-800-dark: #EBA500;
--color-yellow-yellow-900-dark: #EFC86C;
--color-yellow-yellow-1000-dark: #FFF4D6;
--color-red-red-200-light: #FCD9D9;
--color-red-red-300-light: #FBC5C5;
--color-red-red-400-light: #FC9797;
--color-red-red-500-light: #F26363;
--color-red-red-600-light: #DD3636;
--color-red-red-700-light: #D01616;
--color-red-red-800-light: #A41313;
--color-red-red-900-light: #7D0808;
--color-red-red-1000-light: #4D0000;
--color-red-red-50-dark: #2A0909;
--color-red-red-100-dark: #4B1616;
--color-red-red-200-dark: #640C0C;
--color-red-red-300-dark: #7D0C0C;
--color-red-red-400-dark: #A72020;
--color-red-red-500-dark: #CF2626;
--color-red-red-600-dark: #E33B3B;
--color-red-red-700-dark: #FF5C5C;
--color-red-red-800-dark: #FF8585;
--color-red-red-900-dark: #FCBBBB;
--color-red-red-1000-dark: #FFF0F0;
--color-green-green-200-light: #BAEECB;
--color-green-green-300-light: #A3E0B8;
--color-green-green-400-light: #66C787;
--color-green-green-500-light: #36A65B;
--color-green-green-600-light: #16883C;
--color-green-green-700-light: #0B7930;
--color-green-green-800-light: #075F24;
--color-green-green-900-light: #014618;
--color-green-green-1000-light: #01280E;
--color-green-green-50-dark: #031C0C;
--color-green-green-100-dark: #0B2D17;
--color-green-green-200-dark: #053916;
--color-green-green-300-dark: #05481C;
--color-green-green-400-dark: #086327;
--color-green-green-500-dark: #0E7B34;
--color-green-green-600-dark: #218D46;
--color-green-green-700-dark: #2DA958;
--color-green-green-800-dark: #38C268;
--color-green-green-900-dark: #75E19A;
--color-green-green-1000-dark: #DDFDE9;
--color-gray-gray-200-light: #E1E2E5;
--color-gray-gray-300-light: #D1D3D7;
--color-gray-gray-400-light: #B3B6BD;
--color-gray-gray-500-light: #8F9299;
--color-gray-gray-600-light: #74777C;
--color-gray-gray-700-light: #565960;
--color-gray-gray-800-light: #4F5259;
--color-gray-gray-900-light: #3A3C41;
--color-gray-gray-1000-light: #06080F;
--color-gray-gray-50-dark: #191A1C;
--color-gray-gray-100-dark: #242528;
--color-gray-gray-200-dark: #303236;
--color-gray-gray-300-dark: #3D3F43;
--color-gray-gray-400-dark: #52555B;
--color-gray-gray-500-dark: #686C73;
--color-gray-gray-600-dark: #898D94;
--color-gray-gray-700-dark: #A9ACB1;
--color-gray-gray-800-dark: #A9ACB1;
--color-gray-gray-900-dark: #C8CCD5;
--color-gray-gray-1000-dark: #F7F9FD;
--color-pink-pink-50-light: #FFF5FA;
--color-pink-pink-100-light: #FFF0F7;
--color-pink-pink-200-light: #FFD7EB;
--color-pink-pink-300-light: #FFC2E0;
--color-pink-pink-400-light: #F297C4;
--color-pink-pink-500-light: #ED5EA6;
--color-pink-pink-600-light: #D53484;
--color-pink-pink-700-light: #C32272;
--color-pink-pink-800-light: #9D1559;
--color-pink-pink-900-light: #741142;
--color-pink-pink-1000-light: #440826;
--color-pink-pink-50-dark: #2E101F;
--color-pink-pink-100-dark: #4B1630;
--color-pink-pink-200-dark: #561A39;
--color-pink-pink-300-dark: #761E49;
--color-pink-pink-400-dark: #9E2963;
--color-pink-pink-500-dark: #BA3678;
--color-pink-pink-600-dark: #D7428C;
--color-pink-pink-700-dark: #F65AA8;
--color-pink-pink-800-dark: #FE80BF;
--color-pink-pink-900-dark: #FFB8DB;
--color-pink-pink-1000-dark: #FFF0F7;
--color-purple-purple-50-light: #FAF8FF;
--color-purple-purple-100-light: #F4F0FF;
--color-purple-purple-200-light: #E5DEF7;
--color-purple-purple-300-light: #D9CDF9;
--color-purple-purple-400-light: #BCA7F6;
--color-purple-purple-500-light: #9E80EF;
--color-purple-purple-600-light: #815CEB;
--color-purple-purple-700-light: #7253CA;
--color-purple-purple-800-light: #5938B8;
--color-purple-purple-900-light: #422B82;
--color-purple-purple-1000-light: #251650;
--color-purple-purple-50-dark: #191033;
--color-purple-purple-100-dark: #2B1C54;
--color-purple-purple-200-dark: #35226D;
--color-purple-purple-300-dark: #432C87;
--color-purple-purple-400-dark: #5D3DB8;
--color-purple-purple-500-dark: #7453D0;
--color-purple-purple-600-dark: #8564E8;
--color-purple-purple-700-dark: #9F83EC;
--color-purple-purple-800-dark: #B39EF0;
--color-purple-purple-900-dark: #D1C2FF;
--color-purple-purple-1000-dark: #F2F0FF;
--color-base-white: #FFFFFF;
--color-base-black: #000000;
--color-base-dark: #0A0D0D;
--coloropacity-gray-gray-50-light-0per: #F9FAFB00;
--coloropacity-gray-gray-50-dark-0per: #191A1C00;
--coloropacity-gray-gray-300-light-50per: #D1D3D77F;
--coloropacity-gray-gray-300-dark-50per: #3D3F437F;
--coloropacity-gray-gray-400-light-55per: #B3B6BD8C;
--coloropacity-gray-gray-400-dark-55per: #52555B8C;
--coloropacity-gray-gray-600-light-0per: #74777C00;
--coloropacity-gray-gray-600-dark-0per: #898D9400;
--coloropacity-gray-gray-600-light-10per: #74777C19;
--coloropacity-gray-gray-600-dark-10per: #898D9419;
--coloropacity-gray-gray-600-light-20per: #74777C33;
--coloropacity-gray-gray-600-dark-20per: #898D9433;
--coloropacity-gray-gray-600-light-30per: #74777C4C;
--coloropacity-gray-gray-600-dark-30per: #898D944C;
--coloropacity-gray-gray-600-light-40per: #74777C66;
--coloropacity-gray-gray-600-dark-40per: #898D9466;
--coloropacity-gray-gray-600-light-50per: #74777C7F;
--coloropacity-gray-gray-600-dark-50per: #898D947F;
--coloropacity-gray-gray-600-light-60per: #74777C99;
--coloropacity-gray-gray-600-dark-60per: #898D9499;
--coloropacity-gray-gray-600-light-70per: #74777CB2;
--coloropacity-gray-gray-600-dark-70per: #898D94B2;
--coloropacity-gray-gray-600-light-80per: #74777CCC;
--coloropacity-gray-gray-600-dark-80per: #898D94CC;
--coloropacity-gray-gray-600-light-90per: #74777CE5;
--coloropacity-gray-gray-600-dark-90per: #898D94E5;
--coloropacity-gray-gray-900-light-90per: #3A3C41E5;
--coloropacity-gray-gray-1000-light-85per: #06080FD8;
--coloropacity-blue-blue-600-light-0per: #1876DC00;
--coloropacity-blue-blue-600-dark-0per: #1876DC00;
--coloropacity-blue-blue-600-light-10per: #1876DC19;
--coloropacity-blue-blue-600-dark-10per: #1876DC19;
--coloropacity-blue-blue-600-light-20per: #1876DC33;
--coloropacity-blue-blue-600-dark-20per: #1876DC33;
--coloropacity-blue-blue-600-light-30per: #1876DC4C;
--coloropacity-blue-blue-600-dark-30per: #1876DC4C;
--coloropacity-blue-blue-600-light-40per: #1876DC66;
--coloropacity-blue-blue-600-dark-40per: #1876DC66;
--coloropacity-blue-blue-600-light-50per: #1876DC7F;
--coloropacity-blue-blue-600-dark-50per: #1876DC7F;
--coloropacity-blue-blue-600-light-60per: #1876DC99;
--coloropacity-blue-blue-600-dark-60per: #1876DC99;
--coloropacity-blue-blue-600-light-70per: #1876DCB2;
--coloropacity-blue-blue-600-dark-70per: #1876DCB2;
--coloropacity-blue-blue-600-light-80per: #1876DCCC;
--coloropacity-blue-blue-600-dark-80per: #1876DCCC;
--coloropacity-blue-blue-600-light-90per: #1876DCE5;
--coloropacity-blue-blue-600-dark-90per: #1876DCE5;
--coloropacity-blue-blue-1000-light-30per: #0021454C;
--coloropacity-blue-blue-1000-dark-30per: #EBF5FF4C;
--coloropacity-gray-gray-1000-dark-85per: #F7F9FDD8;
--coloropacity-red-red-600-light-0per: #DD363600;
--coloropacity-red-red-600-dark-0per: #E33B3B00;
--coloropacity-red-red-600-light-10per: #DD363619;
--coloropacity-red-red-600-dark-10per: #E33B3B19;
--coloropacity-red-red-600-light-20per: #DD363633;
--coloropacity-red-red-600-dark-20per: #E33B3B33;
--coloropacity-green-green-600-light-0per: #16883C00;
--coloropacity-red-red-600-light-30per: #DD36364C;
--coloropacity-red-red-600-dark-30per: #E33B3B4C;
--coloropacity-red-red-600-light-40per: #DD363666;
--coloropacity-red-red-600-dark-40per: #E33B3B66;
--coloropacity-red-red-600-light-50per: #DD36367F;
--coloropacity-red-red-600-dark-50per: #E33B3B7F;
--coloropacity-red-red-600-light-60per: #DD363699;
--coloropacity-red-red-600-dark-60per: #E33B3B99;
--coloropacity-green-green-600-dark-0per: #218D4600;
--coloropacity-red-red-600-light-70per: #DD3636B2;
--coloropacity-green-green-600-light-10per: #16883C19;
--coloropacity-red-red-600-dark-70per: #E33B3BB2;
--coloropacity-green-green-600-dark-10per: #218D4619;
--coloropacity-red-red-600-light-80per: #DD3636CC;
--coloropacity-red-red-600-dark-80per: #E33B3BCC;
--coloropacity-red-red-600-light-90per: #DD3636E5;
--coloropacity-red-red-600-dark-90per: #E33B3BE5;
--coloropacity-green-green-600-light-20per: #16883C33;
--coloropacity-green-green-600-dark-20per: #218D4633;
--coloropacity-green-green-600-light-30per: #16883C4C;
--coloropacity-green-green-600-dark-30per: #218D464C;
--coloropacity-green-green-600-light-40per: #16883C66;
--coloropacity-green-green-600-dark-40per: #218D4666;
--coloropacity-green-green-600-light-50per: #16883C7F;
--coloropacity-green-green-600-dark-50per: #218D467F;
--coloropacity-green-green-600-light-60per: #16883C99;
--coloropacity-green-green-600-dark-60per: #218D4699;
--coloropacity-green-green-600-light-70per: #16883CB2;
--coloropacity-green-green-600-dark-70per: #218D46B2;
--coloropacity-green-green-600-light-80per: #16883CCC;
--coloropacity-green-green-600-dark-80per: #218D46CC;
--coloropacity-green-green-600-light-90per: #16883CE5;
--coloropacity-green-green-600-dark-90per: #218D46E5;
--coloropacity-yellow-yellow-600-light-0per: #F3AF1200;
--coloropacity-yellow-yellow-600-dark-0per: #BD840000;
--coloropacity-yellow-yellow-600-light-10per: #F3AF1219;
--coloropacity-yellow-yellow-600-dark-10per: #BD840019;
--coloropacity-yellow-yellow-600-light-20per: #F3AF1233;
--coloropacity-yellow-yellow-600-dark-20per: #BD840033;
--coloropacity-yellow-yellow-600-light-30per: #F3AF124C;
--coloropacity-yellow-yellow-600-dark-30per: #BD84004C;
--coloropacity-yellow-yellow-600-light-40per: #F3AF1266;
--coloropacity-yellow-yellow-600-dark-40per: #BD840066;
--coloropacity-yellow-yellow-600-light-50per: #F3AF127F;
--coloropacity-yellow-yellow-600-dark-50per: #BD84007F;
--coloropacity-yellow-yellow-600-light-60per: #F3AF1299;
--coloropacity-yellow-yellow-600-dark-60per: #BD840099;
--coloropacity-yellow-yellow-600-light-70per: #F3AF12B2;
--coloropacity-yellow-yellow-600-dark-70per: #BD8400B2;
--coloropacity-yellow-yellow-600-light-80per: #F3AF12CC;
--coloropacity-yellow-yellow-600-dark-80per: #BD8400CC;
--coloropacity-yellow-yellow-600-light-90per: #F3AF12E5;
--coloropacity-yellow-yellow-600-dark-90per: #BD8400E5;
--coloropacity-purple-purple-600-light-0per: #815CEB00;
--coloropacity-purple-purple-600-dark-0per: #8564E800;
--coloropacity-purple-purple-600-light-10per: #815CEB19;
--coloropacity-purple-purple-600-dark-10per: #8564E819;
--coloropacity-purple-purple-600-light-20per: #815CEB33;
--coloropacity-purple-purple-600-dark-20per: #8564E833;
--coloropacity-purple-purple-600-light-30per: #815CEB4C;
--coloropacity-purple-purple-600-dark-30per: #8564E84C;
--coloropacity-purple-purple-600-light-40per: #815CEB66;
--coloropacity-purple-purple-600-dark-40per: #8564E866;
--coloropacity-purple-purple-600-light-50per: #815CEB7F;
--coloropacity-base-white-0per: #FFFFFF00;
--coloropacity-base-white-20per: #FFFFFF33;
--coloropacity-base-white-55per: #FFFFFF8C;
--coloropacity-base-white-80per: #FFFFFFCC;
--coloropacity-base-white-85per: #FFFFFFD8;
--coloropacity-base-black-0per: #00000000;
--coloropacity-base-black-15per: #00000026;
--coloropacity-base-black-20per: #00000033;
--coloropacity-base-black-30per: #0000004C;
--coloropacity-base-black-56per: #0000008E;
--coloropacity-base-black-75per: #000000BF;
--coloropacity-base-black-80per: #000000CC;
--coloropacity-base-dark-0per: #0A0D0D00;
--coloropacity-purple-purple-600-dark-50per: #8564E87F;
--coloropacity-purple-purple-600-light-60per: #815CEB99;
--coloropacity-purple-purple-600-dark-60per: #8564E899;
--coloropacity-purple-purple-600-light-70per: #815CEBB2;
--coloropacity-purple-purple-600-dark-70per: #8564E8B2;
--coloropacity-purple-purple-600-light-80per: #815CEBCC;
--coloropacity-purple-purple-600-dark-80per: #8564E8CC;
--coloropacity-purple-purple-600-light-90per: #815CEBE5;
--coloropacity-purple-purple-600-dark-90per: #8564E8E5;
--coloropacity-shadow-4per-light: #000B170A;
--coloropacity-shadow-4per-dark: #000B170A;
--coloropacity-shadow-4_5per-light: #000B170B;
--coloropacity-shadow-4_5per-dark: #000B170B;
--coloropacity-shadow-6per-light: #000B170F;
--coloropacity-shadow-6per-dark: #000B170F;
--coloropacity-shadow-8per-light: #000B1714;
--coloropacity-shadow-8per-dark: #000B1714;
--coloropacity-shadow-9per-light: #000B1716;
--coloropacity-shadow-9per-dark: #000B1716;
--coloropacity-shadow-12per-light: #000B171E;
--coloropacity-shadow-12per-dark: #000B171E;
--coloropacity-shadow-16per-light: #000B1728;
--coloropacity-shadow-16per-dark: #000B1728;
--coloropacity-shadow-20per-light: #000B1733;
--coloropacity-shadow-20per-dark: #000B1733;
--coloropacity-shadow-24per-light: #000B173D;
--coloropacity-shadow-24per-dark: #000B173D;
--coloropacity-shadow-34per-light: #000B1756;
--coloropacity-shadow-34per-dark: #000B1756;