--color-tiffany-tiffany-50-light: #f4fbfb;
--color-tiffany-tiffany-100-light: #e3f8f8;
--color-tiffany-tiffany-200-light: #bcebeb;
--color-tiffany-tiffany-300-light: #afe4e4;
--color-tiffany-tiffany-400-light: #5bc2c2;
--color-tiffany-tiffany-500-light: #36a1a1;
--color-tiffany-tiffany-600-light: #0c9292;
--color-tiffany-tiffany-700-light: #0f7575;
--color-tiffany-tiffany-800-light: #055c5c;
--color-tiffany-tiffany-900-light: #044343;
--color-tiffany-tiffany-1000-light: #032626;
--color-tiffany-tiffany-50-dark: #001f1f;
--color-tiffany-tiffany-100-dark: #082b2a;
--color-tiffany-tiffany-200-dark: #003838;
--color-tiffany-tiffany-300-dark: #024545;
--color-tiffany-tiffany-400-dark: #006160;
--color-tiffany-tiffany-500-dark: #047675;
--color-tiffany-tiffany-600-dark: #008a89;
--color-tiffany-tiffany-700-dark: #00a3a2;
--color-tiffany-tiffany-800-dark: #23bebc;
--color-gray-gray-50-light: #f9fafb;
--color-tiffany-tiffany-900-dark: #7bdbd9;
--color-tiffany-tiffany-1000-dark: #d9fdfd;
--color-gray-gray-100-light: #f3f4f6;
--color-blue-blue-50-light: #f5f9fe;
--color-blue-blue-100-light: #ebf4ff;
--color-blue-blue-200-light: #cee5fd;
--color-blue-blue-300-light: #b2d7ff;
--color-blue-blue-400-light: #75b8ff;
--color-blue-blue-500-light: #3e93ef;
--color-green-green-50-light: #f3fcf6;
--color-blue-blue-600-light: #1876dc;
--color-blue-blue-700-light: #0f67c7;
--color-blue-blue-800-light: #0450a4;
--color-blue-blue-900-light: #003a7a;
--color-blue-blue-1000-light: #002145;
--color-blue-blue-50-dark: #0a1624;
--color-blue-blue-100-dark: #082749;
--color-blue-blue-200-dark: #0a315c;
--color-blue-blue-300-dark: #063c79;
--color-blue-blue-400-dark: #1255a1;
--color-blue-blue-500-dark: #1069cb;
--color-blue-blue-600-dark: #0978f1;
--color-blue-blue-700-dark: #3394ff;
--color-blue-blue-800-dark: #66afff;
--color-blue-blue-900-dark: #a7cffb;
--color-blue-blue-1000-dark: #ebf5ff;
--color-green-green-100-light: #e7f9ed;
--color-vividgreen-vividgreen-50-light: #ecfdf3;
--color-vividgreen-vividgreen-100-light: #d2fee4;
--color-vividgreen-vividgreen-200-light: #acf1c7;
--color-vividgreen-vividgreen-300-light: #88e7ae;
--color-vividgreen-vividgreen-400-light: #54d98a;
--color-vividgreen-vividgreen-500-light: #19d264;
--color-vividgreen-vividgreen-600-light: #00bd4c;
--color-vividgreen-vividgreen-700-light: #0a9e46;
--color-vividgreen-vividgreen-800-light: #058f3c;
--color-vividgreen-vividgreen-900-light: #04672c;
--color-vividgreen-vividgreen-1000-light: #002e12;
--color-vividgreen-vividgreen-50-dark: #021d0c;
--color-vividgreen-vividgreen-100-dark: #023115;
--color-vividgreen-vividgreen-200-dark: #00421a;
--color-vividgreen-vividgreen-300-dark: #005221;
--color-vividgreen-vividgreen-400-dark: #097133;
--color-vividgreen-vividgreen-500-dark: #008f39;
--color-vividgreen-vividgreen-600-dark: #05a345;
--color-vividgreen-vividgreen-700-dark: #1bc55f;
--color-vividgreen-vividgreen-800-dark: #09ce57;
--color-red-red-50-light: #fef8f8;
--color-red-red-100-light: #fef0f0;
--color-vividgreen-vividgreen-900-dark: #48ef8c;
--color-vividgreen-vividgreen-1000-dark: #ccffe1;
--color-yellow-yellow-50-light: #fff9eb;
--color-yellow-yellow-100-light: #fff4db;
--color-yellow-yellow-200-light: #fce09c;
--color-yellow-yellow-300-light: #fad680;
--color-yellow-yellow-400-light: #f9ce66;
--color-yellow-yellow-500-light: #fbc341;
--color-yellow-yellow-600-light: #f3af12;
--color-yellow-yellow-700-light: #d89803;
--color-yellow-yellow-800-light: #b07e07;
--color-yellow-yellow-900-light: #805a00;
--color-yellow-yellow-1000-light: #332400;
--color-yellow-yellow-50-dark: #221902;
--color-yellow-yellow-100-dark: #362702;
--color-yellow-yellow-200-dark: #412d02;
--color-yellow-yellow-300-dark: #5c4100;
--color-yellow-yellow-400-dark: #815c03;
--color-yellow-yellow-500-dark: #9c7516;
--color-yellow-yellow-600-dark: #bd8400;
--color-yellow-yellow-700-dark: #e5a100;
--color-yellow-yellow-800-dark: #eba500;
--color-yellow-yellow-900-dark: #efc86c;
--color-yellow-yellow-1000-dark: #fff4d6;
--color-red-red-200-light: #fcd9d9;
--color-red-red-300-light: #fbc5c5;
--color-red-red-400-light: #fc9797;
--color-red-red-500-light: #f26363;
--color-red-red-600-light: #dd3636;
--color-red-red-700-light: #d01616;
--color-red-red-800-light: #a41313;
--color-red-red-900-light: #7d0808;
--color-red-red-1000-light: #4d0000;
--color-red-red-50-dark: #2a0909;
--color-red-red-100-dark: #4b1616;
--color-red-red-200-dark: #640c0c;
--color-red-red-300-dark: #7d0c0c;
--color-red-red-400-dark: #a72020;
--color-red-red-500-dark: #cf2626;
--color-red-red-600-dark: #e33b3b;
--color-red-red-700-dark: #ff5c5c;
--color-red-red-800-dark: #ff8585;
--color-red-red-900-dark: #fcbbbb;
--color-red-red-1000-dark: #fff0f0;
--color-green-green-200-light: #baeecb;
--color-green-green-300-light: #a3e0b8;
--color-green-green-400-light: #66c787;
--color-green-green-500-light: #36a65b;
--color-green-green-600-light: #16883c;
--color-green-green-700-light: #0b7930;
--color-green-green-800-light: #075f24;
--color-green-green-900-light: #014618;
--color-green-green-1000-light: #01280e;
--color-green-green-50-dark: #031c0c;
--color-green-green-100-dark: #0b2d17;
--color-green-green-200-dark: #053916;
--color-green-green-300-dark: #05481c;
--color-green-green-400-dark: #086327;
--color-green-green-500-dark: #0e7b34;
--color-green-green-600-dark: #218d46;
--color-green-green-700-dark: #2da958;
--color-green-green-800-dark: #38c268;
--color-green-green-900-dark: #75e19a;
--color-green-green-1000-dark: #ddfde9;
--color-gray-gray-200-light: #e1e2e5;
--color-gray-gray-300-light: #d1d3d7;
--color-gray-gray-400-light: #b3b6bd;
--color-gray-gray-500-light: #8f9299;
--color-gray-gray-600-light: #74777c;
--color-gray-gray-700-light: #565960;
--color-gray-gray-800-light: #4f5259;
--color-gray-gray-900-light: #3a3c41;
--color-gray-gray-1000-light: #06080f;
--color-gray-gray-50-dark: #191a1c;
--color-gray-gray-100-dark: #242528;
--color-gray-gray-200-dark: #303236;
--color-gray-gray-300-dark: #3d3f43;
--color-gray-gray-400-dark: #52555b;
--color-gray-gray-500-dark: #686c73;
--color-gray-gray-600-dark: #898d94;
--color-gray-gray-700-dark: #a9acb1;
--color-gray-gray-800-dark: #a9acb1;
--color-gray-gray-900-dark: #c8ccd5;
--color-gray-gray-1000-dark: #f7f9fd;
--color-pink-pink-50-light: #fff5fa;
--color-pink-pink-100-light: #fff0f7;
--color-pink-pink-200-light: #ffd7eb;
--color-pink-pink-300-light: #ffc2e0;
--color-pink-pink-400-light: #f297c4;
--color-pink-pink-500-light: #ed5ea6;
--color-pink-pink-600-light: #d53484;
--color-pink-pink-700-light: #c32272;
--color-pink-pink-800-light: #9d1559;
--color-pink-pink-900-light: #741142;
--color-pink-pink-1000-light: #440826;
--color-pink-pink-50-dark: #2e101f;
--color-pink-pink-100-dark: #4b1630;
--color-pink-pink-200-dark: #561a39;
--color-pink-pink-300-dark: #761e49;
--color-pink-pink-400-dark: #9e2963;
--color-pink-pink-500-dark: #ba3678;
--color-pink-pink-600-dark: #d7428c;
--color-pink-pink-700-dark: #f65aa8;
--color-pink-pink-800-dark: #fe80bf;
--color-pink-pink-900-dark: #ffb8db;
--color-pink-pink-1000-dark: #fff0f7;
--color-purple-purple-50-light: #faf8ff;
--color-purple-purple-100-light: #f4f0ff;
--color-purple-purple-200-light: #e5def7;
--color-purple-purple-300-light: #d9cdf9;
--color-purple-purple-400-light: #bca7f6;
--color-purple-purple-500-light: #9e80ef;
--color-purple-purple-600-light: #815ceb;
--color-purple-purple-700-light: #7253ca;
--color-purple-purple-800-light: #5938b8;
--color-purple-purple-900-light: #422b82;
--color-purple-purple-1000-light: #251650;
--color-purple-purple-50-dark: #191033;
--color-purple-purple-100-dark: #2b1c54;
--color-purple-purple-200-dark: #35226d;
--color-purple-purple-300-dark: #432c87;
--color-purple-purple-400-dark: #5d3db8;
--color-purple-purple-500-dark: #7453d0;
--color-purple-purple-600-dark: #8564e8;
--color-purple-purple-700-dark: #9f83ec;
--color-purple-purple-800-dark: #b39ef0;
--color-purple-purple-900-dark: #d1c2ff;
--color-purple-purple-1000-dark: #f2f0ff;
--color-base-white: #ffffff;
--color-base-black: #000000;
--color-base-dark: #0a0d0d;
--coloropacity-gray-gray-50-light-0per: #f9fafb00;
--coloropacity-gray-gray-50-dark-0per: #191a1c00;
--coloropacity-gray-gray-300-light-50per: #d1d3d77f;
--coloropacity-gray-gray-300-dark-50per: #3d3f437f;
--coloropacity-gray-gray-400-light-55per: #b3b6bd8c;
--coloropacity-gray-gray-400-dark-55per: #52555b8c;
--coloropacity-gray-gray-600-light-70per: #74777cb2;
--coloropacity-gray-gray-600-dark-70per: #4a4d51b2;
--coloropacity-gray-gray-900-light-90per: #3a3c41e5;
--coloropacity-gray-gray-1000-light-85per: #06080fd8;
--coloropacity-blue-blue-600-light-0per: #1876dc00;
--coloropacity-blue-blue-600-dark-0per: #0978f100;
--coloropacity-blue-blue-600-light-10per: #1876dc19;
--coloropacity-blue-blue-600-dark-10per: #0978f119;
--coloropacity-blue-blue-600-light-20per: #1876dc33;
--coloropacity-blue-blue-600-dark-20per: #0978f133;
--coloropacity-blue-blue-600-light-30per: #1876dc4c;
--coloropacity-blue-blue-600-dark-30per: #0978f14c;
--coloropacity-blue-blue-600-light-40per: #1876dc66;
--coloropacity-blue-blue-600-dark-40per: #0978f166;
--coloropacity-blue-blue-600-light-50per: #1876dc7f;
--coloropacity-blue-blue-600-dark-50per: #0978f17f;
--coloropacity-blue-blue-600-light-60per: #1876dc99;
--coloropacity-blue-blue-600-dark-60per: #0978f199;
--coloropacity-blue-blue-600-light-70per: #1876dcb2;
--coloropacity-blue-blue-600-dark-70per: #0978f1b2;
--coloropacity-blue-blue-600-light-80per: #1876dccc;
--coloropacity-blue-blue-600-dark-80per: #0978f1cc;
--coloropacity-blue-blue-600-light-90per: #1876dce5;
--coloropacity-blue-blue-600-dark-90per: #0978f1e5;
--coloropacity-blue-blue-1000-light-30per: #0021454c;
--coloropacity-blue-blue-1000-dark-30per: #ebf5ff4c;
--coloropacity-gray-gray-1000-dark-85per: #f7f9fdd8;
--coloropacity-red-red-600-light-0per: #dd363600;
--coloropacity-red-red-600-dark-0per: #e33b3b00;
--coloropacity-red-red-600-light-10per: #dd363619;
--coloropacity-red-red-600-dark-10per: #e33b3b19;
--coloropacity-red-red-600-light-20per: #dd363633;
--coloropacity-green-green-600-light-0per: #16883c00;
--coloropacity-red-red-600-dark-20per: #e33b3b33;
--coloropacity-red-red-600-light-30per: #dd36364c;
--coloropacity-red-red-600-dark-30per: #e33b3b4c;
--coloropacity-red-red-600-light-40per: #dd363666;
--coloropacity-red-red-600-dark-40per: #e33b3b66;
--coloropacity-red-red-600-light-50per: #dd36367f;
--coloropacity-red-red-600-dark-50per: #e33b3b7f;
--coloropacity-red-red-600-light-60per: #dd363699;
--coloropacity-red-red-600-dark-60per: #e33b3b99;
--coloropacity-green-green-600-dark-0per: #218d4600;
--coloropacity-red-red-600-light-70per: #dd3636b2;
--coloropacity-green-green-600-light-10per: #16883c19;
--coloropacity-red-red-600-dark-70per: #e33b3bb2;
--coloropacity-green-green-600-dark-10per: #218d4619;
--coloropacity-red-red-600-light-80per: #dd3636cc;
--coloropacity-red-red-600-dark-80per: #e33b3bcc;
--coloropacity-red-red-600-light-90per: #dd3636e5;
--coloropacity-red-red-600-dark-90per: #e33b3be5;
--coloropacity-green-green-600-light-20per: #16883c33;
--coloropacity-green-green-600-dark-20per: #218d4633;
--coloropacity-green-green-600-light-30per: #16883c4c;
--coloropacity-green-green-600-dark-30per: #218d464c;
--coloropacity-green-green-600-light-40per: #16883c66;
--coloropacity-green-green-600-dark-40per: #218d4666;
--coloropacity-green-green-600-light-50per: #16883c7f;
--coloropacity-green-green-600-dark-50per: #218d467f;
--coloropacity-green-green-600-light-60per: #16883c99;
--coloropacity-green-green-600-dark-60per: #218d4699;
--coloropacity-green-green-600-light-70per: #16883cb2;
--coloropacity-green-green-600-dark-70per: #218d46b2;
--coloropacity-green-green-600-light-80per: #16883ccc;
--coloropacity-green-green-600-dark-80per: #218d46cc;
--coloropacity-green-green-600-light-90per: #16883ce5;
--coloropacity-green-green-600-dark-90per: #218d46e5;
--coloropacity-yellow-yellow-600-light-0per: #f3af1200;
--coloropacity-yellow-yellow-600-dark-0per: #bd840000;
--coloropacity-yellow-yellow-600-light-10per: #f3af1219;
--coloropacity-yellow-yellow-600-dark-10per: #bd840019;
--coloropacity-yellow-yellow-600-light-20per: #f3af1233;
--coloropacity-yellow-yellow-600-dark-20per: #bd840033;
--coloropacity-yellow-yellow-600-light-30per: #f3af124c;
--coloropacity-yellow-yellow-600-dark-30per: #bd84004c;
--coloropacity-yellow-yellow-600-light-40per: #f3af1266;
--coloropacity-yellow-yellow-600-dark-40per: #bd840066;
--coloropacity-yellow-yellow-600-light-50per: #f3af127f;
--coloropacity-yellow-yellow-600-dark-50per: #bd84007f;
--coloropacity-yellow-yellow-600-light-60per: #f3af1299;
--coloropacity-yellow-yellow-600-dark-60per: #bd840099;
--coloropacity-yellow-yellow-600-light-70per: #f3af12b2;
--coloropacity-yellow-yellow-600-dark-70per: #bd8400b2;
--coloropacity-yellow-yellow-600-light-80per: #f3af12cc;
--coloropacity-yellow-yellow-600-dark-80per: #bd8400cc;
--coloropacity-yellow-yellow-600-light-90per: #f3af12e5;
--coloropacity-yellow-yellow-600-dark-90per: #bd8400e5;
--coloropacity-purple-purple-600-light-0per: #815ceb00;
--coloropacity-purple-purple-600-dark-0per: #8564e800;
--coloropacity-purple-purple-600-light-10per: #815ceb19;
--coloropacity-purple-purple-600-dark-10per: #8564e819;
--coloropacity-purple-purple-600-light-20per: #815ceb33;
--coloropacity-purple-purple-600-dark-20per: #8564e833;
--coloropacity-purple-purple-600-light-30per: #815ceb4c;
--coloropacity-purple-purple-600-dark-30per: #8564e84c;
--coloropacity-purple-purple-600-light-40per: #815ceb66;
--coloropacity-purple-purple-600-dark-40per: #8564e866;
--coloropacity-purple-purple-600-light-50per: #815ceb7f;
--coloropacity-base-white-0per: #ffffff00;
--coloropacity-base-white-20per: #ffffff33;
--coloropacity-base-white-55per: #ffffff8c;
--coloropacity-base-white-80per: #ffffffcc;
--coloropacity-base-white-85per: #ffffffd8;
--coloropacity-base-black-0per: #00000000;
--coloropacity-base-black-15per: #00000026;
--coloropacity-base-black-20per: #00000033;
--coloropacity-base-black-30per: #0000004c;
--coloropacity-base-black-56per: #0000008e;
--coloropacity-base-black-75per: #000000bf;
--coloropacity-base-black-80per: #000000cc;
--coloropacity-base-dark-0per: #0a0d0d00;
--coloropacity-purple-purple-600-dark-50per: #8564e87f;
--coloropacity-purple-purple-600-light-60per: #815ceb99;
--coloropacity-purple-purple-600-dark-60per: #8564e899;
--coloropacity-purple-purple-600-light-70per: #815cebb2;
--coloropacity-purple-purple-600-dark-70per: #8564e8b2;
--coloropacity-purple-purple-600-light-80per: #815cebcc;
--coloropacity-purple-purple-600-dark-80per: #8564e8cc;
--coloropacity-purple-purple-600-light-90per: #815cebe5;
--coloropacity-purple-purple-600-dark-90per: #8564e8e5;
--coloropacity-shadow-4per-light: #000b170a;
--coloropacity-shadow-4per-dark: #000b170a;
--coloropacity-shadow-4_5per-light: #000b170b;
--coloropacity-shadow-4_5per-dark: #000b170b;
--coloropacity-shadow-6per-light: #000b170f;
--coloropacity-shadow-6per-dark: #000b170f;
--coloropacity-shadow-8per-light: #000b1714;
--coloropacity-shadow-8per-dark: #000b1714;
--coloropacity-shadow-9per-light: #000b1716;
--coloropacity-shadow-9per-dark: #000b1716;
--coloropacity-shadow-12per-light: #000b171e;
--coloropacity-shadow-12per-dark: #000b171e;
--coloropacity-shadow-16per-light: #000b1728;
--coloropacity-shadow-16per-dark: #000b1728;
--coloropacity-shadow-20per-light: #000b1733;
--coloropacity-shadow-20per-dark: #000b1733;
--coloropacity-shadow-24per-light: #000b173d;
--coloropacity-shadow-24per-dark: #000b173d;
--coloropacity-shadow-34per-light: #000b1756;
--coloropacity-shadow-34per-dark: #000b1756;
