node_modules
dist
build
./libs/design-system/storybook-static

.nx/cache
.nx/workspace-data
.trae
.trae/rules

# Next.js
.next
out
.cursor

storybook-static
.vercel

vite.config.*.timestamp*
vitest.config.*.timestamp*
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
