@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: these are duplicates of design-system css definitions. unify them */
.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}

html {
  direction: rtl;
}
